<% layout("/layouts/boilerplate.ejs") %>
<div class="row mt-4">
    <div class="alert alert-danger col-6 offset-3" role="alert">
        <img src="https://media.istockphoto.com/id/2148676029/photo/warning-attention-symbol-with-exclamation-mark-in-the-triangle-on-the-abstract-human-hand.webp?a=1&b=1&s=612x612&w=0&k=20&c=_z5PN_bEKKcy2s9ycEWFxLfZFDucf1KZ1BsCB4OBMC4=" height="150px" width="100%">
        <h4 class="alert-danger text-center mt-2"><%= err.message%></h4>
      </div>
</div>
